<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				AppleEyes Online Learning Platform
			{% endblock %}
		</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="keywords">
		<meta content="" name="description">

		<script src="https://kit.fontawesome.com/47027db1aa.js" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">

			<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
			<link
			href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

			{# main #}
			<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
			<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
			<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
			<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/courses/main_styles.css') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/courses/responsive.css') }}">
		{% endblock %}
	</head>

	{% block body %}
		<div class="super_container">
			{{ include('shared/_header.html.twig') }}
			<!-- Home -->

			<div
				class="home">

				<!-- Hero Slider -->
				<div class="hero_slider_container">
					<div
						class="hero_slider owl-carousel">

						<!-- Hero Slide -->
						<div class="hero_slide">
							<div class="hero_slide_background" style="background-image:url({{ asset('images/slider_background.jpg') }})"></div>
							<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
								<div class="hero_slide_content text-center">
									<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your
										<span>Education</span>
										today!</h1>
								</div>
							</div>
						</div>

						<!-- Hero Slide -->
						<div class="hero_slide">
							<div class="hero_slide_background" style="background-image:url({{ asset('images/slider_background.jpg') }})"></div>
							<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
								<div class="hero_slide_content text-center">
									<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your
										<span>Education</span>
										today!</h1>
								</div>
							</div>
						</div>

						<!-- Hero Slide -->
						<div class="hero_slide">
							<div class="hero_slide_background" style="background-image:url({{ asset('images/slider_background.jpg') }})"></div>
							<div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
								<div class="hero_slide_content text-center">
									<h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut">Get your
										<span>Education</span>
										today!</h1>
								</div>
							</div>
						</div>

					</div>

					<div class="hero_slider_left hero_slider_nav trans_200">
						<span class="trans_200">prev</span>
					</div>
					<div class="hero_slider_right hero_slider_nav trans_200">
						<span class="trans_200">next</span>
					</div>
				</div>
			</div>

			<div class="hero_boxes">
				<div class="hero_boxes_inner">
					<div class="container">
						<div class="row">

							<div class="col-lg-4 hero_box_col">
								<div class="hero_box d-flex flex-row align-items-center justify-content-start">
									<img src="images/earth-globe.svg" class="svg" alt="">
									<div class="hero_box_content">
										<h2 class="hero_box_title">Online Courses</h2>
										<a href="{{ path('app_courses_index') }}" class="hero_box_link">view more</a>
									</div>
								</div>
							</div>

							<div class="col-lg-4 hero_box_col">
								<div class="hero_box d-flex flex-row align-items-center justify-content-start">
									<img src="images/books.svg" class="svg" alt="">
									<div class="hero_box_content">
										<h2 class="hero_box_title">Become An Instructor</h2>
										<a href="{{ path('app_instructor_apply') }}" class="hero_box_link">view more</a>
									</div>
								</div>
							</div>

							<div class="col-lg-4 hero_box_col">
								<div class="hero_box d-flex flex-row align-items-center justify-content-start">
									<img src="images/professor.svg" class="svg" alt="">
									<div class="hero_box_content">
										<h2 class="hero_box_title">Our Teachers</h2>
										<a href="{{ path('app_courses_index') }}" class="hero_box_link">view more</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!-- Popular -->

			<div class="popular page_section">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="section_title text-center">
								<h1>Popular Courses</h1>
							</div>
						</div>
					</div>

					<div
						class="row course_boxes">

						<!-- Popular Course Item -->
						<div class="col-lg-4 course_box">
							<div class="card">
								<img class="card-img-top" src="{{ asset('images/course_1.jpg') }}" alt="https://unsplash.com/@kellybrito">
								<div class="card-body text-center">
									<div class="card-title">
										<a href="{{ path('app_courses_index') }}">A complete guide to design</a>
									</div>
									<div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
								</div>
								<div class="price_box d-flex flex-row align-items-center">
									<div class="course_author_image">
										<img src="images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
									</div>
									<div class="course_author_name">Michael Smith,
										<span>Author</span>
									</div>
									<div class="course_price d-flex flex-column align-items-center justify-content-center">
										<span>$29</span>
									</div>
								</div>
							</div>
						</div>

						<!-- Popular Course Item -->
						<div class="col-lg-4 course_box">
							<div class="card">
								<img class="card-img-top" src="images/course_2.jpg" alt="https://unsplash.com/@cikstefan">
								<div class="card-body text-center">
									<div class="card-title">
										<a href="{{ path('app_courses_index') }}">Beginners guide to HTML</a>
									</div>
									<div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
								</div>
								<div class="price_box d-flex flex-row align-items-center">
									<div class="course_author_image">
										<img src="images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
									</div>
									<div class="course_author_name">Michael Smith,
										<span>Author</span>
									</div>
									<div class="course_price d-flex flex-column align-items-center justify-content-center">
										<span>$29</span>
									</div>
								</div>
							</div>
						</div>

						<!-- Popular Course Item -->
						<div class="col-lg-4 course_box">
							<div class="card">
								<img class="card-img-top" src="images/course_3.jpg" alt="https://unsplash.com/@dsmacinnes">
								<div class="card-body text-center">
									<div class="card-title">
										<a href="{{ path('app_courses_index') }}">Advanced Photoshop</a>
									</div>
									<div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
								</div>
								<div class="price_box d-flex flex-row align-items-center">
									<div class="course_author_image">
										<img src="images/author.jpg" alt="https://unsplash.com/@mehdizadeh">
									</div>
									<div class="course_author_name">Michael Smith,
										<span>Author</span>
									</div>
									<div class="course_price d-flex flex-column align-items-center justify-content-center">
										<span>$29</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Register -->

			<div class="register">

				<div class="container-fluid">

					<div class="row row-eq-height">
						<div
							class="col-lg-6 nopadding">

							<!-- Register -->

							<div class="register_section d-flex flex-column align-items-center justify-content-center">
								<div class="register_content text-center">
									<h1 class="register_title">Register now and get a discount
										<span>50%</span>
										discount until 1 January</h1>
									<p class="register_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum. Aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempo.</p>
									<div class="button button_1 register_button mx-auto trans_200">
										<a href="{{ path('app_register') }}">register now</a>
									</div>
								</div>
							</div>

						</div>

						<div
							class="col-lg-6 nopadding">

							<!-- Search -->

							<div class="search_section d-flex flex-column align-items-center justify-content-center">
								<div class="search_background" style="background-image:url(images/search_background.jpg);"></div>
								<div class="search_content text-center">
									<h1 class="search_title">Search for your course</h1>
									<form id="search_form" class="search_form" action="post">
										<input id="search_form_name" class="input_field search_form_name" type="text" placeholder="Course Name" required="required" data-error="Course name is required.">
										<input id="search_form_category" class="input_field search_form_category" type="text" placeholder="Category">
										<input id="search_form_degree" class="input_field search_form_degree" type="text" placeholder="Degree">
										<button id="search_submit_button" type="submit" class="search_submit_button trans_200" value="Submit">search course</button>
									</form>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<!-- Services -->

			<div class="services page_section">

				<div class="container">
					<div class="row">
						<div class="col">
							<div class="section_title text-center">
								<h1>Our Services</h1>
							</div>
						</div>
					</div>

					<div class="row services_row">

						<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
							<div class="icon_container d-flex flex-column justify-content-end">
								<img src="images/earth-globe.svg" alt="">
							</div>
							<h3>Online Courses</h3>
							<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
						</div>

						<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
							<div class="icon_container d-flex flex-column justify-content-end">
								<img src="images/exam.svg" alt="">
							</div>
							<h3>Indoor Courses</h3>
							<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
						</div>

						<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
							<div class="icon_container d-flex flex-column justify-content-end">
								<img src="images/books.svg" alt="">
							</div>
							<h3>Amazing Library</h3>
							<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
						</div>

						<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
							<div class="icon_container d-flex flex-column justify-content-end">
								<img src="images/professor.svg" alt="">
							</div>
							<h3>Exceptional Professors</h3>
							<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
						</div>

						<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
							<div class="icon_container d-flex flex-column justify-content-end">
								<img src="images/blackboard.svg" alt="">
							</div>
							<h3>Top Programs</h3>
							<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
						</div>

						<div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
							<div class="icon_container d-flex flex-column justify-content-end">
								<img src="images/mortarboard.svg" alt="">
							</div>
							<h3>Graduate Diploma</h3>
							<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
						</div>

					</div>
				</div>
			</div>

			<!-- Testimonials -->

			<div
				class="testimonials page_section">
				<!-- <div class="testimonials_background" style="background-image:url(images/testimonials_background.jpg)"></div> -->
				<div class="testimonials_background_container prlx_parent">
					<div class="testimonials_background prlx" style="background-image:url(images/testimonials_background.jpg)"></div>
				</div>
				<div class="container">

					<div class="row">
						<div class="col">
							<div class="section_title text-center">
								<h1>What our students say</h1>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-10 offset-lg-1">

							<div
								class="testimonials_slider_container">

								<!-- Testimonials Slider -->
								<div
									class="owl-carousel owl-theme testimonials_slider">

									<!-- Testimonials Item -->
									<div class="owl-item">
										<div class="testimonials_item text-center">
											<div class="quote">“</div>
											<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
											<div class="testimonial_user">
												<div class="testimonial_image mx-auto">
													<img src="images/testimonials_user.jpg" alt="">
												</div>
												<div class="testimonial_name">james cooper</div>
												<div class="testimonial_title">Graduate Student</div>
											</div>
										</div>
									</div>

									<!-- Testimonials Item -->
									<div class="owl-item">
										<div class="testimonials_item text-center">
											<div class="quote">“</div>
											<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
											<div class="testimonial_user">
												<div class="testimonial_image mx-auto">
													<img src="images/testimonials_user.jpg" alt="">
												</div>
												<div class="testimonial_name">james cooper</div>
												<div class="testimonial_title">Graduate Student</div>
											</div>
										</div>
									</div>

									<!-- Testimonials Item -->
									<div class="owl-item">
										<div class="testimonials_item text-center">
											<div class="quote">“</div>
											<p class="testimonials_text">In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor fermentum.</p>
											<div class="testimonial_user">
												<div class="testimonial_image mx-auto">
													<img src="images/testimonials_user.jpg" alt="">
												</div>
												<div class="testimonial_name">james cooper</div>
												<div class="testimonial_title">Graduate Student</div>
											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Events -->

			<div class="events page_section">
				<div class="container">

					<div class="row">
						<div class="col">
							<div class="section_title text-center">
								<h1>Upcoming Events</h1>
							</div>
						</div>
					</div>

					<div
						class="event_items">

						<!-- Event Item -->
						<div class="row event_item">
							<div class="col">
								<div class="row d-flex flex-row align-items-end">

									<div class="col-lg-2 order-lg-1 order-2">
										<div class="event_date d-flex flex-column align-items-center justify-content-center">
											<div class="event_day">07</div>
											<div class="event_month">January</div>
										</div>
									</div>

									<div class="col-lg-6 order-lg-2 order-3">
										<div class="event_content">
											<div class="event_name">
												<a class="trans_200" href="#">Student Festival</a>
											</div>
											<div class="event_location">Grand Central Park</div>
											<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
										</div>
									</div>

									<div class="col-lg-4 order-lg-3 order-1">
										<div class="event_image">
											<img src="images/event_1.jpg" alt="https://unsplash.com/@theunsteady5">
										</div>
									</div>

								</div>
							</div>
						</div>

						<!-- Event Item -->
						<div class="row event_item">
							<div class="col">
								<div class="row d-flex flex-row align-items-end">

									<div class="col-lg-2 order-lg-1 order-2">
										<div class="event_date d-flex flex-column align-items-center justify-content-center">
											<div class="event_day">07</div>
											<div class="event_month">January</div>
										</div>
									</div>

									<div class="col-lg-6 order-lg-2 order-3">
										<div class="event_content">
											<div class="event_name">
												<a class="trans_200" href="#">Open day in the Univesrsity campus</a>
											</div>
											<div class="event_location">Grand Central Park</div>
											<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
										</div>
									</div>

									<div class="col-lg-4 order-lg-3 order-1">
										<div class="event_image">
											<img src="images/event_2.jpg" alt="https://unsplash.com/@claybanks1989">
										</div>
									</div>

								</div>
							</div>
						</div>

						<!-- Event Item -->
						<div class="row event_item">
							<div class="col">
								<div class="row d-flex flex-row align-items-end">

									<div class="col-lg-2 order-lg-1 order-2">
										<div class="event_date d-flex flex-column align-items-center justify-content-center">
											<div class="event_day">07</div>
											<div class="event_month">January</div>
										</div>
									</div>

									<div class="col-lg-6 order-lg-2 order-3">
										<div class="event_content">
											<div class="event_name">
												<a class="trans_200" href="#">Student Graduation Ceremony</a>
											</div>
											<div class="event_location">Grand Central Park</div>
											<p>In aliquam, augue a gravida rutrum, ante nisl fermentum nulla, vitae tempor nisl ligula vel nunc. Proin quis mi malesuada, finibus tortor.</p>
										</div>
									</div>

									<div class="col-lg-4 order-lg-3 order-1">
										<div class="event_image">
											<img src="images/event_3.jpg" alt="https://unsplash.com/@juanmramosjr">
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
			{{ include('shared/_footer.html.twig') }}
		</div>
	</html>


	{# courses #}
	<script src="{{ asset('js/courses/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ asset('css/courses/bootstrap4/popper.js') }}"></script>
	<script src="{{ asset('css/courses/bootstrap4/bootstrap.min.js') }}"></script>
	<script src="{{ asset('plugins/greensock/TweenMax.min.js') }}"></script>
	<script src="{{ asset('plugins/greensock/TimelineMax.min.js') }}"></script>
	<script src="{{ asset('plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
	<script src="{{ asset('plugins/greensock/animation.gsap.min.js') }}"></script>
	<script src="{{ asset('plugins/greensock/ScrollToPlugin.min.js') }}"></script>
	<script src="{{ asset('plugins/scrollTo/jquery.scrollTo.min.js') }}"></script>
	<script src="{{ asset('plugins/easing/easing.js') }}"></script>
	<script src="{{ asset('js/courses/courses_custom.js') }}"></script>

	{# main #}
	<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
	<script src="{{ asset('js/courses/custom.js') }}"></script>
{% endblock %}</html>
