{% extends 'base.html.twig' %}

{% block title %}Lessons index{% endblock %}

{% block body %}
    <h1>Lessons index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CourseId</th>
                <th>Title</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                {# <th>Course</th> #}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td>{{ lesson.id }}</td>
                <td>{{ lesson.courseId }}</td>
                <td>{{ lesson.title }}</td>
                <td>{{ lesson.content }}</td>
                <td>{{ lesson.createdAt ? lesson.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ lesson.updatedAt ? lesson.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                {# <td><a href="{{ path('app_courses_show', {'id', lesson.courses.id}) }}">{{ lesson.courses.title }}</a></td> #}
                <td>
                    <a href="{{ path('app_lessons_show', {'id': lesson.id}) }}">show</a>
                    <a href="{{ path('app_lessons_edit', {'id': lesson.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
