<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				AppleEyes Online Learning Platform
			{% endblock %}
		</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="keywords">
		<meta content="" name="description">

		<script src="https://kit.fontawesome.com/47027db1aa.js" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">

			<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
			<link
			href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

			{# courses #}
			<link rel="stylesheet" type="text/css" href="{{ asset('css/courses//bootstrap4/bootstrap.min.css') }}">
			<link href="{{ asset('plugins/fontawesome-free-5.0.1/css/fontawesome-all.css') }}" rel="stylesheet" type="text/css">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/courses/courses_styles.css') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/courses/courses_styles.css') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/courses/courses_responsive.css') }}">
		{% endblock %}
	</head>
	<body>
		{% if app.request.attributes.get('_route') == 'app_register' or app.request.attributes.get('_route') == 'app_login' %}
			{% block main_content %}{% endblock %}
		{% else %}
			{{ include('shared/_header.html.twig') }}

			{% block body %}{% endblock %}

			{{ include('shared/_footer.html.twig') }}
		{% endif %}

		{# courses #}
		<script src="{{ asset('js/courses/jquery-3.2.1.min.js') }}"></script>
		<script src="{{ asset('css/courses/bootstrap4/popper.js') }}"></script>
		<script src="{{ asset('css/courses/bootstrap4/bootstrap.min.js') }}"></script>
		<script src="{{ asset('plugins/greensock/TweenMax.min.js') }}"></script>
		<script src="{{ asset('plugins/greensock/TimelineMax.min.js') }}"></script>
		<script src="{{ asset('plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
		<script src="{{ asset('plugins/greensock/animation.gsap.min.js') }}"></script>
		<script src="{{ asset('plugins/greensock/ScrollToPlugin.min.js') }}"></script>
		<script src="{{ asset('plugins/scrollTo/jquery.scrollTo.min.js') }}"></script>
		<script src="{{ asset('plugins/easing/easing.js') }}"></script>
		<script src="{{ asset('js/courses/courses_custom.js') }}"></script>

	</body>
</html>
