{% extends 'base.html.twig' %}

{% block title %}Courses
{% endblock %}

{% block body %}
	<h1>Courses</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ course.id }}</td>
			</tr>
			<tr>
				<th>InstructorId</th>
				<td>{{ course.instructorId }}</td>
			</tr>
			<tr>
				<th>Title</th>
				<td>{{ course.title }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ course.description }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ course.createdAt ? course.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ course.updatedAt ? course.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Lesson Title</th>
			</tr>
		</thead>
		<tbody>
			{% for lesson in course.lessons %}
				<tr>
					<td>{{ lesson.id }}</td>
					<td>{{ lesson.title }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2">No lessons found</td>
				</tr>
			{% endfor %}
			<tr>
				<td>
					<a class="btn btn-success" href="{{ path('app_lessons_new', {'id': course.id}) }}">Add lessons</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div>
		<a class="mt-3" href="{{ path('app_courses_index') }}">back to list</a>
	</div>
	<div>
		<a class="mt-3 btn btn-primary" href="{{ path('app_courses_edit', {'id': course.id}) }}">edit</a>
	</div>

	{{ include('courses/_delete_form.html.twig') }}
{% endblock %}
