	<header class="header d-flex flex-row">
		<div
			class="header_content d-flex flex-row align-items-center">
			<!-- Logo -->
			<div class="logo_container">
				<div class="logo">
					<img src="{{ asset('images/logo.png') }}" alt="">
					<span>AppleEyes</span>
				</div>
			</div>

			<!-- Main Navigation -->
			<nav class="main_nav_container">
				<div class="main_nav">
					<ul class="main_nav_list">
						<li class="main_nav_item">
							<a href="/">home</a>
						</li>
						<li class="main_nav_item">
							<a href="#">about us</a>
						</li>
						<li class="main_nav_item">
							<a href="{{ path('app_courses_index') }}">courses</a>
						</li>
						<li class="main_nav_item">
							{% if is_granted("ROLE_ADMIN") %}
								<a href="{{ path('admin') }}">Admin panel</a>
							{% endif %}
						</li>
						<li class="main_nav_item">
							<a href="news.html">news</a>
						</li>
						<li class="main_nav_item">
							<a href="contact.html">contact</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="header_side d-flex flex-row justify-content-center align-items-center">
			{% if is_granted('ROLE_USER') %}
				<span>
					<a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
				</span>
				<span>
					<a href="{{ path('app_profile') }}" i class="fa fa-user-tie me-2">{{ app.user.username }}</a>
				</span>
			{% else %}
				<span>
					<a class="nav-link active" aria-current="page" href="{{ path('app_login') }}">Login</a>
				</span>
				<span>
					<a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">Register</a>
				</span>
			{% endif %}
		</div>

		<!-- Hamburger -->
		<div class="hamburger_container">
			<i class="fas fa-bars trans_200"></i>
		</div>
	</header>

	<!-- Menu -->
	<div
		class="menu_container menu_mm">

		<!-- Menu Close Button -->
		<div class="menu_close_container">
			<div class="menu_close"></div>
		</div>

		<!-- Menu Items -->
		<div class="menu_inner menu_mm">
			<div class="menu menu_mm">
				<ul class="menu_list menu_mm">
					<li class="menu_item menu_mm">
						<a href="index.html">Home</a>
					</li>
					<li class="menu_item menu_mm">
						<a href="#">About us</a>
					</li>
					<li class="menu_item menu_mm">
						<a href="{{ path('app_courses_index') }}">Courses</a>
					</li>
					<li class="menu_item menu_mm">
						<a href="elements.html">Elements</a>
					</li>
					<li class="menu_item menu_mm">
						{% if is_granted("ROLE_ADMIN") %}
							<a href="{{ path('admin') }}">Admin panel</a>
						{% endif %}
					</li>
					<li class="menu_item menu_mm">
						<a href="news.html">News</a>
					</li>
					<li class="menu_item menu_mm">
						<a href="contact.html">Contact</a>
					</li>
					{% if is_granted('ROLE_USER') %}
						<li class="menu_item menu_mm">
							<a href="{{ path('app_logout') }}">Logout</a>
						</li>
						<li class="menu_item menu_mm">
							<a href="{{ path('app_profile') }}">{{ app.user.username }}</a>
						</li>
					{% else %}
						<li class="menu_item menu_mm">
							<a href="{{ path('app_login') }}">Login</a>
						</li>
						<li class="menu_item menu_mm">
							<a href="{{ path('app_register') }}">Register</a>
						</li>
					{% endif %}
				</ul>

				<!-- Menu Social -->

				<div class="menu_social_container menu_mm">
					<ul class="menu_social menu_mm">
						<li class="menu_social_item menu_mm">
							<a href="#">
								<i class="fab fa-pinterest"></i>
							</a>
						</li>
						<li class="menu_social_item menu_mm">
							<a href="#">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
						<li class="menu_social_item menu_mm">
							<a href="#">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
						<li class="menu_social_item menu_mm">
							<a href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li class="menu_social_item menu_mm">
							<a href="#">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
					</ul>
				</div>

				<div class="menu_copyright menu_mm">Colorlib All rights reserved</div>
			</div>

		</div>

	</div>
